* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 17px;
}

:root {
  --first-color: #926239;
  --second-color: #ffffff;
}

.welcome-screen {
  background-image: url("./../image/beach.jpg");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  background-size: cover;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.heading {
  line-height: 1.2;
  font-size: 50px;
}

.greeting {
  margin-bottom: 20px;
  font-size: 20px;
}

.button-read-more {
  border: 1px solid var(--first-color);
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  color: inherit;
}

.button-read-more:hover,
.first-content,
.small-content-wrapper > .small-content:nth-child(odd) {
  background-color: var(--first-color);
  color: var(--second-color);
}

.welcome-screen,
.first-content,
.second-content {
  text-align: center;
}

.second-content {
  background-color: #f4f4f4;
  color: var(--first-color);
}

.small-content-wrapper {
  display: flex;
}

.first-content,
.second-content,
.small-content-wrapper > .small-content:nth-child(even),
.small-content-wrapper > .small-content:nth-child(odd) {
  padding: 20px;
}

.welcome-screen,
.small-content-wrapper > .small-content:nth-child(even) {
  background-color: var(--second-color);
  color: var(--first-color);
}
